<!doctype html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <title>优美的音乐,很动听</title>
        <meta name="description" content="Angular js for DoubanFM">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="styles/main.css">
        <link rel="stylesheet" type="text/css" href="styles/font-awesome.min.css">
    </head>
    <body>
        <div ng-app="musicboxApp" class="container">
            <div id="menu-wrapper">
                <nav id="main-nav" ng-controller="NavTabsController">
                    <ul class="primary_menu">
                        <li ng-class="{active: isActive('/music')}">
                            <a ng-href="#/">
                                <span><i class="fa fa-music fa-lg"></i>&nbsp; Music</span></a>
                        </li>
                        <li ng-class="{active: isActive('/about')}">
                            <a ng-href="#/about">
                                <span><i class="fa fa-github fa-lg"></i>&nbsp; About</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div id="content">
                <div ng-view></div>
            </div>

            <div id="album" style="float: left;bottom:20px; left:20px;font-size: 50px;">
                <label>Name:</label>
                <input type="text" ng-model="yourName" placeholder="Enter a name here">
                <button class={{yourName}}>button</button>
                <hr/>
                <h1 >Hello {{yourName}} ; test:</h1>
            </div>

            <form name="loginForm" class="loginPop" ng-show="loginflag" ng-controller="LoginController" ng-submit="Login(user)" action="#" method="post">
                <fieldset class="form-group">
                    <label class="control-label">豆 瓣:
                    <input type="email" class="form-control" ng-model="user.email" name="username" placeholder="user@account.com" title="请输入Email账户" autofocus="autofocus" required="required" autocomplete="off" value="" /></label>
                </fieldset>
                <fieldset class="form-group">
                    <label class="control-label">密 码:
                    <input type="password" class="form-control" ng-model="user.password" name="password" title="请输入密码" required="required" placeholder="********" value="" /></label>
                </fieldset>
                <fieldset class="form-group">
                    <label for="remember" class="control-label checkbox-inline">
                    <input type="checkbox" ng-model="user.remember" name="remember" id="remember" />
                    记住我</label>
                    <input type="submit" class="btn btn-primary pullright" ng-click="Login(user)" value="登  录">
                </fieldset>
            </form>

        </div>

        <script type="text/javascript" src="components/angular.min.js"></script>
        <script type="text/javascript" src="components/angular-route.min.js"></script>
        <script type="text/javascript" src="components/angular-animate.min.js"></script>
        <script type="text/javascript" src="components/angular-cookies.min.js"></script>
        <script type="text/javascript" src="components/angular-resource.min.js"></script>
        <script type="text/javascript" src="components/angular-oauth2.js"></script>
        <script type="text/javascript" src="components/query-string.js"></script>
        <script type="text/javascript" src="scripts/app.js"></script>
        <script type="text/javascript" src="scripts/controllers/channel.js"></script>
        <script type="text/javascript" src="scripts/controllers/login.js"></script>
        <script type="text/javascript" src="scripts/controllers/music.js"></script>
        <script type="text/javascript" src="scripts/controllers/navtabs.js"></script>
        <script type="text/javascript" src="scripts/directives/channelDirective.js"></script>
        <script type="text/javascript" src="scripts/services/dataservice.js"></script>

    </body>

</html>
