<!doctype html>
<html lang="zh">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>优美的音乐,很动听</title>
    <meta name="description" content="Angular js for DoubanFM">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
    <div ng-app="musicboxApp" class="container">
        <div id="menu-wrapper">
            <nav id="main-nav" ng-controller="NavTabsController">
                <ul class="primary_menu">
                    <li ng-click="showbtn=!showbtn">
                        <a><i class="fa fa-umbrella fa-2x main-btn" ng-class="{'blue-btn': showbtn, 'green-btn': !showbtn}"></i></a>
                    </li>
                    <li ng-show="showbtn" ng-click="expandPlayer()" class="btn-menu" ng-forbidrepeat>
                        <a><i class="fa fa-expand fa-2x green-btn" ng-class="{'fa-expand': !btnStatus.expanded, 'fa-compress': btnStatus.expanded}"></i></a>
                    </li>
                    <li ng-show="showbtn" ng-click="showbtn=!showbtn" class="btn-menu-1" ng-class="{active: isActive('/music')}">
                        <a ng-href="#/"><i class="fa fa-music fa-2x green-btn"></i></a>
                    </li>
                    <li ng-show="showbtn" ng-click="showbtn=!showbtn" class="btn-menu-2" ng-class="{active: isActive('/option')}">
                        <a ng-href="#/option"><i class="fa fa-gear fa-2x gear green-btn"></i></a>
                    </li>
                    <li ng-show="showbtn" ng-click="showbtn=!showbtn" class="btn-menu-3">
                        <a ng-href="https://github.com/vinkerz/vinkerz.github.io"  target="_blank"><i class="fa fa-github fa-2x green-btn"></i></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="content">
            <div ng-view></div>
        </div>
        <div id="option">
            <div ng-show=""></div>
        </div>
    </div>
    <script type="text/javascript" src="components/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="components/angular.js"></script>
    <script type="text/javascript" src="components/angular-animate.min.js"></script>
    <script type="text/javascript" src="components/angular-cookies.min.js"></script>
    <script type="text/javascript" src="components/angular-resource.min.js"></script>
    <script type="text/javascript" src="components/angular-route.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/channel.js"></script>
    <script type="text/javascript" src="scripts/controllers/music.js"></script>
    <script type="text/javascript" src="scripts/controllers/audio.js"></script>
    <script type="text/javascript" src="scripts/controllers/login.js"></script>
    <script type="text/javascript" src="scripts/controllers/navtabs.js"></script>
    <script type="text/javascript" src="scripts/directives/channelDirective.js"></script>
    <script type="text/javascript" src="scripts/directives/musicDirective.js"></script>
    <script type="text/javascript" src="scripts/directives/audioDirective.js"></script>
    <script type="text/javascript" src="scripts/services/dataservice.js"></script>
    <!--
        <script type="text/javascript" src="scripts/channels-oauth2.json"></script>
        <script type="text/javascript" src="http://www.douban.com/js/api.js?v=2"></script>
        <script type="text/javascript" src="http://www.douban.com/js/api-parser.js?v=1"></script>    
        -->
</body>

</html>
