
<div>
  <p>傻逼傻逼傻逼傻逼傻逼傻逼傻逼傻逼0</p>
</div>


<div id="ch-list-wrapper">
    <div id="chl-section">
      test
        <ul class="channel-list" ng-repeat="chl in channels">
            <li data-cid="chl.channel_id" class="channel">
                <a class="chl-name" href="#">
                    <i class="chl-playing fa fa-check-circle"></i>&nbsp;
                        <span class="cname">
                            {{chl.channel_id}} | {{chl.name_en}} | {{chl.name}}
                            <span class="mhz">MHz</span>
                        </span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="ChlsPannel">
    <form action="#" method="get">
        <div id="channelpart">
            <label for="channels">Channels:</label>
            <select name="channels" id="channels">
                <option value="Favorite Radio">Favorite Radio</option>
                <option value="Personal Radio">Personal Radio</option>
                <option value="Easy MHz">Easy MHz</option>
            </select>
        </div>
    </form>
</div>
