
<!-- Main Content -->
<div id="MusicBox" ng-controller="AudioController" ng-init="initPlay()">
    <div id="cd" ng-expand isexpand="systemSetting.expanded">
        <div id="cd-player">
            <img ng-src="{{fixedUI.player}}" alt="cd-player">
        </div>
        <div id="cd-axis">
            <img ng-class="{'spin': status.playing, 'spin spin-paused': (!status.playing || paused)}" ng-src="{{status.axis}}" style="{background:#DDD}" alt="cd-axis">
        </div>
        <div id="cd-disk">
            <img class="diskimg" ng-show="status.imguseful" ng-src="{{ song.disk | trustUrl }}" ng-class="{'spin': status.playing, 'spin spin-paused': (!status.playing || paused)}" alt="cd-disk">
        </div>
        <div ng-class="{'pull': status.playing, 'push':!status.playing}">
            <div id="cd-line">
                <img ng-src="{{fixedUI.line}}" ng-autolength alt="power-line">
            </div>
            <div id="cd-button">
                <img id='btn' ng-plug ng-autolength ng-src="{{fixedUI.button}}" alt="power-button">
            </div>
        </div>
        
    </div>
    <div id="AudioPlayer" style="position:fixed;left:20px; top:20px;">
        <!-- audio element -->
        <audio id="musicAudio" autoplay ng-status ng-timeupdate playing="status.playing" ng-volume volume="status.vol" max-vol="status.maxvol" ng-src="{{ song.url | trustUrl }}" type="audio/mpeg">
            Your browser does not support the audio element. Please try the new version Chrome.
        </audio>
    </div>
</div>
<!-- Right Part -->
<div id="RightPannel" ng-show="!systemSetting.expanded" class="hidepannel">
    <!-- Right part - channles -->
    <div id="ChlPannel" ng-show="showChlsList" class="chlPannelShow">
        <div id="chl-list-wrapper" class="scrollbar" ng-controller="ChannelListController">
            <div id="chl-section" ng-init="initChannels()">
                <ul class="channels-list" ng-repeat="group in groups track by $index" ng-init="addfavIndex = $index">
                    <li class="group-list" ng-bind="group.group_name"></li>
                    <ul ng-repeat="chl in group.chls track by $index" ng-init="chlsIndex = $index">
                        <li class="channel">
                            <a class="chl-name" ng-click="chlSelected(chl.id, chl.name)" ng-class="{'li-even': $even, 'li-odd': $odd}">
                                <i class="chl-playing fa fa-check-circle" ng-show="showSelected(chl.id)"></i>&nbsp;
                                <span class="cname ng-cloak">
                                    {{chl.name}}<span class="mhz">MHz</span>
                                </span>
                                <span class="favbtn" ng-click="starSelected(chl.id, addfavIndex)" ng-hide="(addfavIndex === 0) && (chlsIndex === 0 || chlsIndex === 1 )">
                                    <i class="fa fa-star-o fa-lg favchls" ng-class="{'fa-star': (addfavIndex === 0),'fa-star': showFavChl(chl.id),'fa-star-o': !showFavChl(chl.id)}"></i>
                                </span>
                            </a>
                        </li>
                    </ul> 

                </ul>
            </div>
        </div>
    </div>
    <!-- Right part - control buttons and lyrics -->
    <div id="MainPannel">
        <!-- control buttons -->
        <div id="CtrlPannel">
            <div id="toggle-btn">
                <a class="chl-btn" ng-click="showChlsList=!showChlsList"><i class="fa fa-toggle-off fa-2x green-btn" ng-class="{'fa-toggle-on': showChlsList, 'fa-toggle-off': !showChlsList}"></i></a>
            </div>
            <div id="chl-name-zone">
                <span class="chl-name-show ng-cloak" ng-class="{'slide-animate': 1}">{{channel.chlName}} MHz</span>
            </div>
            <div id="btn-zone" ng-controller="LoginController">
                <ul class="btn-group">
                    <li class="loop">
                        <span ng-click="loop=!loop" ng-loop><i class="fa fa-random fa-2x green-btn" ng-class="{'fa-refresh': loop, 'fa-random': !loop}"></i></span>
                    </li>
                    <li class="like">
                        <span ng-click="rate=!rate" ng-rate="song.like"><i class="fa fa-heart-o fa-2x" ng-class="{'fa-heart red-heart': rate, 'fa-heart-o': !rate}"></i>
                        <i class="fa fa-heart heart-hidden" ng-class="{'heart-active': rate}"></i></span>
                    </li>
                    <li class="bye">
                        <span ng-click="playMusic('b')"><i class="fa fa-trash-o fa-2x green-btn"></i></span>
                    </li>
                    <li class="skip">
                        <span ng-click="playMusic('s')"><i class="fa fa-step-forward fa-2x green-btn"></i></span>
                    </li>
                    <li class="volume">
                        <span ng-click="volflag=!volflag"><i class="fa fa-volume-up fa-2x green-btn" ng-class="{'fa-volume-up': (status.vol >= 60), 'fa-volume-down': (status.vol > 0 && status.vol < 60), 'fa-volume-off': (status.vol == 0)}"></i></span>
                    </li>
                    <li class="login">
                        <span ng-Login><i class="fa fa-user fa-2x green-btn"></i></span>
                    </li>
                    <li class="share">
                        <span ng-click="shareflag=!shareflag"><i class="fa fa-share-alt fa-2x green-btn"></i></span>
                    </li>
                    <li class="download">
                        <span><a id="downloadlink" ng-href="{{song.url}}" ng-dlink download><i class="fa fa-download fa-2x green-btn"></i></a></span>
                    </li>
                    <!-- <li class="search">
                        <span ng-click="searchflag=!searchflag"><i class="fa fa-search fa-2x green-btn"></i></span>
                    </li> -->
                </ul>
                <div class="progress">
                    <span id="played" ng-progress ng-time="status.curtime"></span>
                    <span id="cursor"></span>
                </div>
                <div class="popup">
                    <!-- volume change -->
                    <div class="volumePop" ng-show="volflag" ng-click="volflag=false">
                        <label for="volume">volume:</label>
                        <input type="range" name="volume" id="volume" min="0" max="{{status.maxvol}}" step="1" ng-model="status.vol"/>
                    </div>
                    <!-- anonymous user -->
                    <div class="notifyPop" ng-show="inform.notiflag">
                        <div ng-class="{'showpop': inform.chlpop}" ng-click="chlpopClose()">点击
                            <a href="https://www.douban.com/accounts/login" target="_blank">登录</a>
                            , 发现你的个性兆赫</div>
                        <div ng-class="{'showpop': inform.likepop}" ng-click="likepopClose()">点击
                            <a href="https://www.douban.com/accounts/login" target="_blank">登录</a>
                            , 同步你的专属喜好</div>
                        <div ng-class="{'showpop': inform.favpop}" ng-click="favpopClose()">点击
                            <a href="https://www.douban.com/accounts/login" target="_blank">登录</a>
                            , 收藏你的常用兆赫</div>
                        <div ng-class="{'showpop': inform.loginpop}" ng-click="loginpopClose()">点击
                            <a href="https://www.douban.com/accounts/login" target="_blank">登录</a>
                            , 更多你的精彩旋律</div>
                        <div ng-class="{'showpop': inform.logoutpop}" ng-click="logoutpopClose()">感谢使用, 欢迎给我提供建议</div>
                    </div>
                    <!-- userinfo display -->
                    <div class="userinfoPop" ng-show="inform.userpop" ng-click="inform.userpop=false">
                        <div class="user-info">
                            <div class="user-icon"><img ng-src="{{userinfo.icon}}" alt="user avatar"></div>
                            <div class="user-title"><a ng-href="{{userinfo.site}}" target="_blank">{{userinfo.title}}</a>, 开始聆听</div>
                            <div class="user-signature">{{userinfo.signature}}</div>
                        </div>
                        <div class="user-played">
                            <span id="played"><a href="http://douban.fm/mine#!type=played" target="_blank"><i class="fa fa-clock-o fa-2x green-btn"></i></a>{{record.played}}
                                <span class="tips">累计收听</span>
                            </span>
                            <span id="liked"><a href="http://douban.fm/mine#!type=liked" target="_blank"><i class="fa fa-heart fa-2x green-btn"></i></a>{{record.liked}}
                                <span class="tips">红心</span>
                            </span>
                            <span id="banned"><a href="http://douban.fm/mine#!type=banned" target="_blank"><i class="fa fa-trash fa-2x green-btn"></i></a>{{record.banned}}
                                <span class="tips">不再播放</span>
                            </span>
                        </div>
                        <div class="user-logout">
                            <!-- <label for="logout">
                            <input type="button" class="btn" name="logout" value="Logout"></label> -->
                            <a class="logout-btn" ng-href="{{setting.logout}}" target="_blank" ng-click="userLogout()">Logout</label>
                        </div>
                    </div>
                    <!--
                    <div name="loginForm" class="loginPop" ng-show="loginflag" ng-controller="LoginController" action="#" method="post">
                        <fieldset class="form-group">
                            <label class="control-label">豆 瓣:
                            <input type="email" class="form-control" ng-model="user.email" name="username" placeholder="user@account.com" title="请输入Email账户" autofocus="autofocus" required="required" autocomplete="off" value="" /></label>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label">密 码:
                            <input type="password" class="form-control" ng-model="user.password" name="password" title="请输入密码" required="required" placeholder="********" value="" /></label>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="remember" class="control-label checkbox-inline">
                            <input type="checkbox" ng-model="user.remember" name="remember" id="remember" />
                            记住我</label>
                            <input type="submit" class="btn btn-primary pullright" ng-click="logintest1()" value="登  录">
                        </fieldset>
                    </div>
                    -->

                    <div class="searchPop" ng-show="searchflag" ng-click="searchflag=false">
                        <div class="form-group">
                            <label for="search" class="control-label"></label>
                            <input type="text" id="search" class="input-large" name="search" required="required" placeholder="歌曲、专辑或艺术家" title="请输入搜索内容" value="" />
                            <input type="submit" class="btn btn-primary btn-large" value="搜  索">
                        </div>
                    </div>
                    <div class="sharePop" ng-show="shareflag" ng-click="shareflag=false">
                        <ul class="sharelist">
                            <li><a ng-share-douban>豆瓣</a></li>
                            <!-- <li><a >微信</a></li> -->
                            <li><a ng-share-weibo>微博</a></li>
                            <li><a ng-share-facebook>Facebook</a></li>
                            <li><a ng-share-twitter>Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- lyrics -->
        <div id="LyricsPannel">
            <div id="lyrics-img-wrap">
                <div id="lyrics-wrapper" ng-show="!slideshow && lyric.valid" ng-click="slideshow=true" ng-lyrics ng-hlindex="lyric.hlindex" class="scrollbar">
                    <div id="lyrics-live" ng-class="{'no-margin': !lyric.tsuseful}">
                        <ul ng-repeat="oneline in lyric.content" ng-init="mline = $index">
                            <li id="lyrics-line" ng-class="{'highlight': (lyric.hlindex === $index && lyric.tsuseful), 'slide-animate2': isTextFull(mline)}" ng-lyric-marquee marqline="mline" ng-bind="oneline.line"></li>
                        </ul>
                    </div>
                </div>
                <div id="image-wrapper" ng-show="slideshow || !lyric.valid" ng-click="slideshow=false">
                    <div class="lyrics-notice" ng-show="lyricNotice" ng-click="lyricNotice=false">
                        <p>未发现歌词</p>
                    </div>
                    <img class="lyrics-image" ng-class="{'img-opacity': lyricNotice }" ng-show="status.imguseful" ng-click="!lyric.valid ? (lyricNotice=!lyricNotice) : false" ng-src="{{ song.picture | trustUrl }}" >
                </div>
                <!-- <div id="lyrics-outer-show">
                    <p id="lyrics-outer-line">{{lyric.showline}}</p>
                </div> -->
            </div>
        </div>
        <!-- song-title && artist -->
        <div id="SongNamePannel" ng-click="lyric.valid ? (slideshow=!slideshow) : (lyricNotice=!lyricNotice)">
            <span class="song-author-show ng-cloak" ng-class="{'slide-animate2': showmarquee}" ng-show-marquee value="song.title">{{song.title}} by {{song.artist}}</span>
        </div>
    </div>
</div>

<!-- Dynamic lyric outer show -->
<div id="lyrics-outer-show" ng-show="lyric.valid && lyric.tsuseful && systemSetting.displayCaption" ng-class="{'frontCaption': systemSetting.frontCaption}">
    <div id="lyrics-outer-line">
        <p id="oneline">{{showLyric.line1}}</p>
        <p id="nextline">{{showLyric.line2}}</p>
    </div>
</div>
<!-- Loading and diagnosing -->
<div id="loading-show" ng-show="status.isLoading || status.weberror">
    <p id="loading" ng-show="status.isLoading"><i class="fa fa-spinner fa-5x blue-btn spin1s"></i></p>
    <p id="web-error" ng-show="status.weberror">正在准备内容,请稍等...</p>
</div>


<!-- TEST AREA -->
<div id="test-area" style="display: none;">
    <div style="position:fixed; left:10px; bottom: 20px; z-index: 2; overflow:auto; border:1px dashed #EEE;">
        <ul ng-repeat="lyline in lyric.content" ng-init="testindex = $index">
            <li >{{testindex}} - {{lyline.ts}} : {{lyline.line}}</li>
        </ul>
        <p>{{status.vol}} - 音量</p>
    </div>
    <div style="position:fixed; right: 600px; bottom: 20px; z-index: 2; border:1px dashed #EEE;">
        <p>song.url: {{song.url}};</p>
        <p>song.ar: {{song.artist}};</p>
        <p>song.ti: {{song.title}};</p>
        <p>song.disk: {{song.disk}};</p>
        <p>song.img: {{song.picture}};</p>
        <p>song.like: {{song.like}};</p> <hr/>
        <p>next.al: {{songNext.albumtitle}};</p>
        <p>next.ar: {{songNext.artist}};</p>
        <p>next.ti: {{songNext.title}};</p><hr/>
        <p>lyric.name : {{lyric.name}};</p>
        <p>lyric.showline : {{lyric.showline}}</p>
    </div>
    <div style="position:fixed; left: 600px; width: 300px; height:160px; bottom: 20px; border:1px dashed #EEE; list-style:none; overflow: scroll;">
        <ul>
            <li><a href="" ng-click="transferdata()">transfer-data</a></li>
            <li><a href="" ng-click="playrecord()">play-record</a></li>
            <li><a href="" ng-click="isFavChannels(9)">isFavChannels</a></li>
        </ul>
    </div>
</div>
