
<!-- 内容部分 -->
<div id="music-wrapper" ng-controller="AudioController">
    <div id="MusicBox" ng-init="initPlay()">
        <div id="cd">
            <div id="cd-main">
                <img src="images/cdplayer/CDplayer.png" alt="CDplayer">
            </div>
            <div id="cd-border">
                <img ng-show="status.imguseful" ng-class="{'spin': status.playing, 'spin spin-paused': (!status.playing || paused)}" src="images/cdplayer/CDborder.png" alt="CDborder">
            </div>
            <div id="cd-disk">
                <img class="diskimg" ng-show="status.imguseful" ng-src="{{ songUI.disk | trustUrl }}" ng-class="{'spin': status.playing, 'spin spin-paused': (!status.playing || paused)}" alt="songPicture">
                <img ng-if="!status.imguseful" class="spin" src="images/cdplayer/CDdefault.png" alt="defaultDisk">
            </div>
            <div ng-class="{'pull': status.playing, 'push':!status.playing}">
                <div id="cd-string">
                    <img src="images/cdplayer/Line.png" alt="powerline">
                </div>
                <div id="cd-button">
                    <img id='btn' ng-plug src="images/cdplayer/Button.png" alt="powerbutton">
                </div>
            </div>
            
        </div>
        <div id="AudioPlayer" style="position:fixed;left:20px; top:20px;">
            <!-- 设置播放器 -->
            <audio id="musicAudio" controls autoplay ng-status ng-lyrics playing="status.playing" volume="vol" ng-src="{{ songUI.url | trustUrl }}" type="audio/mpeg">
                Your browser does not support the audio element. Please try the new version Chrome.
            </audio>
        </div>
    </div>
</div>
<!-- Board Part -->
<div id="RightPannel">
    <!-- 右侧:频道列表 -->
    <div id="ChlPannel" ng-show="showChlsList" class="chlPannelShow">
        <div id="chl-list-wrapper" class="scrollbar" ng-controller="ChannelListController">
            <div id="chl-section" ng-init="loadChannels()">
                <ul class="channels-list" ng-repeat="group in groups">
                    <li class="group-list" ng-bind="group.group_name"></li>
                    <ul ng-repeat="chl in group.chls">
                        <li class="channel">
                            <a class="chl-name" ng-click="chlSelected(chl.id, chl.name)" ng-class="{'li-even': $even, 'li-odd': $odd}">
                                <i show-cid="chl.id" class="chl-playing fa fa-check-circle" ng-show="showSelected(chl.id)"></i>&nbsp;
                                <span class="cname ng-cloak">
                                    {{chl.name}}<span class="mhz">MHz</span>
                                </span>
                            </a>
                        </li>
                    </ul> 

                </ul>
            </div>
        </div>
    </div>
    <!-- 右侧:控制及歌词 -->
    <div id="MainPannel">
        <!-- 控制台 -->
        <div id="CtrlPannel">
            <div id="navicon">
                <a class="nav-icon" ng-click="showChlsList=!showChlsList"><i class="fa fa-navicon fa-2x"></i></a>
            </div>
            <div id="chl-name-zone">
                <span class="chl-name-show ng-cloak" ng-class="{'slide-animate': 1}">{{channel.chlName}} MHz</span>
            </div>
            <div id="btn-zone">
                <ul class="btn-group">
                    <li class="loop">
                        <span ng-click="loop=!loop" ng-loop><i class="fa fa-random fa-2x" ng-class="{'fa-refresh': loop, 'fa-random': !loop}"></i></span>
                    </li>
                    <li class="like">
                        <span ng-click="rate=!rate" ng-like ng-time><i class="fa fa-heart-o fa-2x" ng-class="{'fa-heart red-heart': rate, 'fa-heart-o': !rate}"></i>
                        <i class="fa fa-heart heart-hidden" ng-class="{'heart-active': rate}"></i></span>
                    </li>
                    <li class="bye">
                        <span ng-click="getCurrPlay('b')" ng-time><i class="fa fa-trash-o fa-2x"></i></span>
                    </li>
                    <li class="skip">
                        <span ng-click="getCurrPlay('s')" ng-time><i class="fa fa-step-forward fa-2x"></i></span>
                    </li>
                    <li class="volume">
                        <span ng-click="volflag=!volflag"><i class="fa fa-volume-up fa-2x" ng-class="{'fa-volume-up': (status.vol >= 60), 'fa-volume-down': (status.vol > 0 && status.vol < 60), 'fa-volume-off': (status.vol == 0)}"></i></span>
                    </li>
                    <li class="search">
                        <span ng-click="searchflag=!searchflag"><i class="fa fa-search fa-2x"></i></span>
                    </li>
                    <li class="login">
                        <span ng-click="getAuth()"><a href="https://www.douban.com/accounts/login" target="_blank"><i class="fa fa-user fa-2x"></i></a></span>
                    </li>
                    <li class="share">
                        <span ng-click="shareflag=!shareflag"><i class="fa fa-share-alt fa-2x"></i></span>
                    </li>

                </ul>
                <div class="popup">
                    <div class="volumePop" ng-show="volflag">
                        <label for="volume">volume:</label>
                        <input type="range" name="volume" id="volume" min="0" max="100" step="1" ng-model="status.vol"/>
                    </div>
                    <div class="notifyPop" ng-show="notiflag">
                        <p ng-class="{'showpop': inform.chlpop}" ng-click="notiflag=!notiflag">点击
                            <a href="https://www.douban.com/accounts/login" target="_blank">登录</a>
                            , 发现你的个性兆赫</p>
                        <p ng-class="{'showpop': inform.likepop}" ng-click="notiflag=!notiflag">点击
                            <a href="https://www.douban.com/accounts/login" target="_blank">登录</a>
                            , 同步你的专属喜好</p>
                        <p style="visibility: visible">test</p>
                    </div>
                    <!--
                    <div name="loginForm" class="loginPop" ng-show="loginflag" ng-controller="LoginController" action="#" method="post">
                        <fieldset class="form-group">
                            <label class="control-label">豆 瓣:
                            <input type="email" class="form-control" ng-model="user.email" name="username" placeholder="user@account.com" title="请输入Email账户" autofocus="autofocus" required="required" autocomplete="off" value="" /></label>
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="control-label">密 码:
                            <input type="password" class="form-control" ng-model="user.password" name="password" title="请输入密码" required="required" placeholder="********" value="" /></label>
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="remember" class="control-label checkbox-inline">
                            <input type="checkbox" ng-model="user.remember" name="remember" id="remember" />
                            记住我</label>
                            <input type="submit" class="btn btn-primary pullright" ng-click="logintest1()" value="登  录">
                        </fieldset>
                    </div>
                    -->

                    <div class="searchPop" ng-show="searchflag">
                        <div class="form-group">
                            <label for="search" class="control-label"></label>
                            <input type="text" id="search" class="input-large" name="search" required="required" placeholder="歌曲、专辑或艺术家" title="请输入搜索内容" value="" />
                            <input type="submit" class="btn btn-primary btn-large" value="搜  索">
                        </div>
                    </div>
                    <div class="sharePop" ng-show="shareflag">
                        <ul class="sharelist">
                            <li><a href="#">豆瓣</a></li>
                            <li><a href="#">微信</a></li>
                            <li><a href="#">微博</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 歌词 -->
        <div id="LyricsPannel">
            <div id="lyrics-img-wrap">
                <div id="lyrics-wrapper" ng-if="lyric.valid || !slideshow" class="scrollbar">
                    <div id="lyrics-live" ng-class="{'no-margin': !lyric.withTS}">
                        <ul ng-repeat="oneline in lyric.content">
                            <li id="lyrics-line" ng-class="{'highlight': (lyric.hlindex === $index && lyric.withTS), 'slide-animate2': showmarquee}" ng-bind="oneline.line"></li>
                        </ul>
                    </div>
                </div>
                <div id="image-wrapper" ng-if="!lyric.valid || slideshow">
                    <p class="lyrics-notice" ng-if="lyricNotice" ng-click="lyricNotice=!lyricNotice">
                        未发现歌词<br />
                        Not Found
                    </p>
                    <img class="lyrics-image" ng-class="{'img-opacity': lyricNotice }" ng-show="status.imguseful" ng-click="lyricNotice=!lyricNotice" ng-src="{{ songUI.picture | trustUrl }}">
                </div>
            </div>
        </div>
        <!-- 歌曲名/艺术家 -->
        <div id="SongNamePannel" ng-click="slideshow=!slideshow">
            <span class="song-author-show ng-cloak" ng-class="{'slide-animate2': showmarquee}" ng-show-marquee>{{songUI.title}} by {{songUI.artist}}</span>
        </div>
    </div>
    <div style="position:fixed; left:10px; bottom: 20px; background: #DDD; z-index: 998; overflow:auto;">
        <ul ng-repeat="lyline in lyric.content">
            <li >{{lyline.ts}} : {{lyline.line}}</li>
        </ul>
        <p>{{status.vol}} - 当前音量</p>
    </div>
    <div style="position:fixed; left: 300px; bottom: 20px;background:#F2F2F2; z-index: 999;">
        <p>song.albumtitle : {{song.albumtitle}};</p>
        <p>song.artist : {{song.artist}};</p>
        <p>lyric.name : {{lyric.name}};</p>
        <p>lyric.show : {{lyric.show}}.</p>
    </div>
    <div style="position:fixed; bottom: 200px; right: 300px; z-index: -1;">
        <p class="test-para">
            <i class="fa fa-heart test fa-5x" ng-class="{'test-hover': rate}">
            <i class="fa fa-heart test" ng-class="{'test-hover': rate}"></i>
            <i class="fa fa-heart test fa-lg" ng-class="{'test-hover': rate}"></i>
            <i class="fa fa-heart test fa-2x" ng-class="{'test-hover': rate}"></i>
            <i class="fa fa-heart test fa-3x" ng-class="{'test-hover': rate}"></i>
            <i class="fa fa-heart test fa-4x" ng-class="{'test-hover': rate}"></i>
            <i class="fa fa-heart test fa-5x" ng-class="{'test-hover': rate}"></i>
            <i class="fa fa-heart test" style="font-size: 6em !important" ng-class="{'test-hover': rate}"></i>
        </p>
    </div>
</div>