<!--  option page  -->
<div id="option-wrapper" >
    <div id="option-menu-content">
        <div id="option-left-menu">
            <ul class="nav">
                <li class="setting" ng-click="selection = tabs[0]">设 定</li>
                <li class="update" ng-click="selection = tabs[1]">更 新</li>
                <li class="about" ng-click="selection = tabs[2]">关 于</li>
            </ul>
        </div>
        <div id="option-right-wrapper">
            <div id="option-right-inner" ng-switch on="selection" class="scrollbar">
                <div id="option-setting-content" ng-switch-when="setting">
                    <div id="caption">
                        <h3>字 幕:</h3>
                        <ul class="systemSetting">
                            <li ng-click="captionAlways()"><i class="fa fa-toggle-off fa-2x green-btn aligned" ng-class="{'fa-toggle-on': userSetting.captionAlways, 'fa-toggle-off': !userSetting.captionAlways}"></i><span class="aligned">总是显示(可用时)</span></li>
                            <li ng-click="captionFirst()"><i class="fa fa-toggle-off fa-2x green-btn aligned" ng-class="{'fa-toggle-on': userSetting.captionFirst, 'fa-toggle-off': !userSetting.captionFirst}"></i><span class="aligned">只在初始页面显示</span></li>
                            <li ng-click="captionFullscreen()"><i class="fa fa-toggle-off fa-2x green-btn aligned" ng-class="{'fa-toggle-on': userSetting.captionFullscreen, 'fa-toggle-off': !userSetting.captionFullscreen}"></i><span class="aligned">只在全屏页面显示</span></li>
                            <li ng-click="captionNone()"><i class="fa fa-toggle-off fa-2x green-btn aligned" ng-class="{'fa-toggle-on': userSetting.captionNone, 'fa-toggle-off': !userSetting.captionNone}"></i><span class="aligned">始终不显示</span></li>
                            <!-- <li id="explaination">* 菜单中的字幕图标仅用于前置内容显示</li> -->
                        </ul>
                    </div>
                    <div id="axis" >
                        <h3>唱 片:</h3>
                        <ul>
                            <li ng-click="axisNone()"><i class="fa fa-toggle-off fa-2x green-btn aligned" ng-class="{'fa-toggle-on': userSetting.axisNone, 'fa-toggle-off': !userSetting.axisNone}"></i><span class="aligned">不显示中轴</span></li>
                        </ul>
                    </div>
                    <div id="notification">
                        <h3>通 知:</h3>
                        <ul>
                            <li ng-click="notifyNone()"><i class="fa fa-toggle-off fa-2x green-btn aligned" ng-class="{'fa-toggle-on': userSetting.notifyNone, 'fa-toggle-off': !userSetting.notifyNone}"></i><span class="aligned">关闭切歌通知</span></li>
                        </ul>
                    </div>
                    <div id="goodluck">
                        <h3>运 气:</h3>
                        <ul>
                            <li ng-click="setGoodLuck()"><i class="fa fa-toggle-off fa-2x green-btn aligned" ng-class="{'fa-toggle-on': userSetting.goodluck, 'fa-toggle-off': !userSetting.goodluck}"></i>
                            <span class="aligned">获得好运</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="option-update-content" ng-switch-when="update">
                    <div class="update-log">
                        <h3>版本: 1.0.0</h3>
                        <h4>更新日期: 2015-10-24</h4>
                        <p>更新内容:</p>
                        <p class="pindent4">1.频道选择功能</p>
                        <p class="pindent4">2.用户登录功能</p>
                        <p class="pindent4">3.单曲循环功能</p>
                        <p class="pindent4">4.喜爱加心功能</p>
                        <p class="pindent4">5.垃圾桶功能</p>
                        <p class="pindent4">6.下一曲切换功能</p>
                        <p class="pindent4">7.音量控制功能</p>
                        <p class="pindent4">8.歌曲下载功能</p>
                        <p class="pindent4">9.歌词动态显示功能</p>
                        <p class="pindent4">10.用户交互显示功能</p>
                        <p class="pindent4">11.切歌通知功能</p>
                    </div>
                </div>
                <div id="option-about-content" ng-switch-when="about">
                    <p>关于作者:</p>
                    <p class="pindent2">我是作者Kyle，现在广州，一直很喜欢豆瓣FM这个产品，想不到自己也能够实现一些他的功能。本作品算是一个致敬。</p>
                    <p class="pindent2">如果大家在使用过程中，遇到什么问题，或者建议，可以直接点击<a href="mailto:yangb2010@gmail.com">这里</a>联系我，或许以后会有更精彩的更新。</p>
                    <p class="pindent2">很想看源码，欢迎去到我的<a href="https://github.com/vinkerz/vinkerz.github.io" target="_blank"><i class="fa fa-github fa-lg green-btn"></i></a>，欢迎前往Fork或者Star。</p>
                    <p class="pindent2">如果您觉得很赞，可以推荐给你身边有需要的朋友，也可以通过下面的<span class="gree-btn">微信</span>二维码进行打赏。</p>
                    <p class="pindent2">非常感谢大家的使用和支持。</p>
                    <img src="images/rate.jpg" alt="rate-for-me">
                </div>
            </div>
        </div>
    </div>
</div>
