/* Reset common labels */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}


/* Layout styles */

body {
    font-family: "Helvetica Neue", "Open Sans", "MSYahei", Arial, san-serif;
}

.container {
    width: 100%;
    min-width: 730px;
    min-height: 475px;
    padding: 0;
    margin: 0 auto;
    background-image: url(../images/highlight-bg.jpg);
    background-size: cover;
}

#menu-wrapper {
    position: relative;
    min-width: 240px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    height: 95px;
    background: #BBC1C6;
    box-shadow: 5px 2px 2px #BBB;
}

#menu-wrapper:before #menu-wrapper:after {
    display: block;
    content: "";
    line-height: 0;
}

#menu-wrapper:after {
    clear: both;
}

#menu {
    position: relative;
    width: 2200px;
}

#main-nav {
    position: relative;
    float: right;
    padding: 0;
    top: 0;
    right: -12px;
    font-size: 2em;
    font-weight: 100;
}

.primary_menu {
    float: right;
    margin-right: 30px;
    padding: 0;
    position: relative;
    list-style: none;
}

.primary_menu li {
    float: left;
    list-style: none;
    margin-left: 2px;
    padding: 0;
    position: relative;
    text-transform: lowercase;
}

.primary_menu li a {
    display: block;
    height: 95px;
    line-height: 95px;
    margin: 0;
    padding: 0 30px;
    text-align: left;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 110%;
    color: #FFF;
    text-shadow: 0 0 rgba(0, 0, 0, 0.2);
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.primary_menu li a:hover,
a:active {
    opacity: 1;
    -ms-filter: none;
    filter: none;
}

#content {
    width: 2200px;
    height: 1280px;
    margin: 20px auto 0;
    position: relative;
}


/* Layout style :left part */

#music-wrapper {}

#MusicBox {
    position: relative;
    width: 800px;
    height: 900px;
    top: -20px;
    z-index: 1;
}

#MusicBox #cd {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #222;
}

#cd-main,
#cd-disk,
#cd-border,
#cd-string,
#cd-button,
#cd-power {
    position: absolute;
}

#cd-main img,
#cd-disk img,
#cd-border img,
#cd-string img,
#cd-button img,
#cd-power img {
    -webkit-user-drag: none;
}

#cd-main {
    width: 800px;
    /* 949x984 radio=1.18625 */
    z-index: 2;
}

#cd-border {
    top: 163px;
    /* 163px cd to cdplayer border 137.4 */
    left: 170px;
    /* 170px cd to cdplayer border 143.3 */
    width: 602px;
    height: 602px;
    z-index: 5;
}

#cd-disk {
    top: 163px;
    /* 163px cd to cdplayer border 137.4 */
    left: 170px;
    /* 170px cd to cdplayer border 143.3 */
    width: 602px;
    height: 602px;
    z-index: 3;
    overflow: hidden;
}

#cd-disk .diskimg {
    display: block;
    z-index: 4;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 588px;
    height: 588px;
    border-radius: 50%; /* 588 / 363 = 1.62 */
    /*-webkit-transform: scale(1.62 1.62);
    -mos-transform: scale(1.62 1.62);
    -ms-transform: scale(1.62 1.62);
    -o-transform: scale(1.62 1.62);
    transform: scale(1.62 1.62);*/
}

#cd-power {
    top: 300px;  /*300px*/
    /* 900-13px 747.7  300px */
    left: 430px;
    /* 450px 379.34   358px */
    z-index: 1;
}

#cd-string {
    top: 300px;  /*300px*/
    /* 900-13px 747.7  300px */
    left: 430px;
    /* 450px 379.34   358px */
    z-index: 1;
}

#cd-button {
    top: 1070px;
    /* 1070px - 350px  */
    left: 422px;
    z-index: 2;
}

#cd-power:active {
    top: 400px;
    /* 900-13px 747.7 + 50px */
    -webkit-transition: top .5s linear;
    -moz-transition: top .5s linear;
    -ms-transition: top .5s linear;
    -o-transition: top .5s linear;
    transition: top .5s linear;
}

#cd-button:active {
    top: 1120px;
    /* +50px */
    -webkit-transition: top .5s linear;
    -moz-transition: top .5s linear;
    -ms-transition: top .5s linear;
    -o-transition: top .5s linear;
    transition: top .5s linear;
}

.pull {
    -webkit-animation: pull 1s ease-in;
    -moz-animation: pull 1s ease-in;
    -ms-animation: pull 1s ease-in;
    -o-animation: pull 1s ease-in;
    animation: pull 1s ease-in;
}

@keyframes pull {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        -ms-transform: translateY(60px);
        -o-transform: translateY(60px);
        transform: translateY(60px);
    }
    50% {
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px);
    }
    75% {
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes pull {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        -ms-transform: translateY(60px);
        -o-transform: translateY(60px);
        transform: translateY(60px);
    }
    50% {
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px);
    }
    75% {
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.push {
    -webkit-animation: push 1s ease-in;
    -moz-animation: push 1s ease-in;
    -ms-animation: push 1s ease-in;
    -o-animation: push 1s ease-in;
    animation: push 1s ease-in;
}

@keyframes push {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        -ms-transform: translateY(60px);
        -o-transform: translateY(60px);
        transform: translateY(60px);
    }
    50% {
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px);
    }
    75% {
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes push {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(60px);
        -moz-transform: translateY(60px);
        -ms-transform: translateY(60px);
        -o-transform: translateY(60px);
        transform: translateY(60px);
    }
    50% {
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
        transform: translateY(30px);
    }
    75% {
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
        transform: translateY(15px);
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.spin {
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    -ms-animation: spin 5s linear infinite;
    -o-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

.spin-paused {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Layout style : ChannelPannel animation */
.chlPannelShow.ng-hide-add {
    -webkit-animation: chlPannelShow-add .5s ease-in;
    -moz-animation: chlPannelShow-add .5s ease-in;
    -ms-animation: chlPannelShow-add .5s ease-in;
    -o-animation: chlPannelShow-add .5s ease-in;
    animation: chlPannelShow-add .5s ease-in;
}

@-webkit-keyframes chlPannelShow-add {
    from {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(450px);
        -moz-transform: translateX(450px);
        -ms-transform: translateX(450px);
        -o-transform: translateX(450px);
        transform: translateX(450px);
    }
}

@keyframes chlPannelShow-add {
    from {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(450px);
        -moz-transform: translateX(450px);
        -ms-transform: translateX(450px);
        -o-transform: translateX(450px);
        transform: translateX(450px);
    }
}

.chlPannelShow.ng-hide-remove {
    -webkit-animation: chlPannelShow-remove .5s ease-out;
    -moz-animation: chlPannelShow-remove .5s ease-out;
    -ms-animation: chlPannelShow-remove .5s ease-out;
    -o-animation: chlPannelShow-remove .5s ease-out;
    animation: chlPannelShow-remove .5s ease-out;
}

@-webkit-keyframes chlPannelShow-remove {
    from {
        -webkit-transform: translateX(450px);
        -moz-transform: translateX(450px);
        -ms-transform: translateX(450px);
        -o-transform: translateX(450px);
        transform: translateX(450px);
    }
    to {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes chlPannelShow-remove {
    from {
        -webkit-transform: translateX(450px);
        -moz-transform: translateX(450px);
        -ms-transform: translateX(450px);
        -o-transform: translateX(450px);
        transform: translateX(450px);
    }
    to {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Channel List Part */
#ChlPannel {
    position: absolute;
}

#chl-list-wrapper {
    position: absolute;
    width: 420px;
    height: 740px;
    margin-left: -450px;
    background-color: #EEE;
    border: 0px solid #EDEDED;
    border-radius: 10px;
    box-shadow: 3px 5px 1em #D2D2D2, -3px -3px 1em #D2D2D2;
    overflow-Y: auto;
    overflow-X: hidden;
}

#chl-section {
    background-color: #FFF;
    margin-top: 10px;
    margin-bottom: 10px; 
}

ul.channels-list {}

ul.channels-list li.group-list {
    width: 420px;
    height: 40px;
    line-height: 40px;
    word-spacing: 2px;
    font-size: 1.2em;
    background-color: #95CF5A;
    color: #FFF;
    text-align: center;
}

ul.channels-list li.channel {
    position: relative;
    cursor: pointer;
    width: 420px;
    height: 80px;
    line-height: 80px;
    font-family: "Myriad Pro", "Helvetica", "Open Sans", "MSYahei", Arial, san-serif;
    font-size: 1.6em;
    font-weight: 300;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.li-even {
    background-color: #ECF3FE;
}

.li-odd {
    background-color: #FFF;
}

ul.channels-list li.channel a.chl-name {
    display: inline-block;
    width: 420px;
    text-decoration: none;
    text-indent: .3em;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #676767;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
}

ul.channels-list li.channel a.chl-name:hover {
    background-color: #0096FF;
    color: #FEFEFE;
}

ul.channels-list li.channel a.chl-name i.chl-playing {
    color: #98CD60;
}

ul.channels-list li.channel a.chl-name span.cname {
    position: absolute;
    left: 42px;
    display: inline-block;
    animation-play-state: paused;
}

ul.channels-list li.channel a.chl-name span.cname:hover {
    animation: marquee1 3s linear infinite;
}

@keyframes marquee1 {
    0% {
        -webkit-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
        -o-transform: translate(0%, 0);
        transform: translate(0%, 0);
    }
    100% {
        -webkit-transform: translate(-150%, 0);
        -ms-transform: translate(-150%, 0);
        -o-transform: translate(-150%, 0);
        transform: translate(-150%, 0);
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.scroll::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow:  inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 3em;
    border-radius: 3em;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3em;
    border-radius: 3em;
    background-color: #A0D672;
    -webkit-opacity: 0.8;
    opacity: 0.8;
    border: 3px solid transparent;
    background-clip: content-box;
    background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, .4) 25%, transparent 25%,
                                            transparent 50%, rgba(255, 255, 255, .4) 50%,
                                            rgba(255, 255, 255, .4) 75%, transparent 75%,
                                            transparent);
}

.scroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 3em;
    border-radius: 3em;
    background-color: #00A7FD !important;
    border: 1px solid transparent;
    background-clip: content-box;
    background-image: -webkit-linear-gradient(45deg,
                                            rgba(255, 255, 255, 0) 25%, transparent 25%,
                                            transparent 50%, rgba(255, 255, 255, 0) 50%,
                                            rgba(255, 255, 255, 0) 75%, transparent 75%,
                                            transparent);
}

::-webkit-scrollbar-thumb:window-inactive,
.scroll::-webkit-scrollbar-thumb:window-inactive {
    -webkit-opacity: 0.4;
    opacity: 0.4;
}

/* Main Pannel Part */
#RightPannel {
    position: absolute;
    width: 540px;
    height: 740px;
    right: 100px;
    top: 140px;
    border-radius: 10px;
}

#MainPannel {
    position: relative;
    width: 540px;
    height: 740px;
    background-color: #F1F1F1;
    border: 0px solid #EDEDED;
    box-shadow: 3px 5px 1em #D2D2D2, -3px -3px 1em #D2D2D2;
    border-radius: 10px;
    overflow: hidden;
    opacity: 1;
    z-index: 1;
}

#CtrlPannel {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}

#CtrlPannel #navicon {
    float: left;
    margin-top: 14px;
    margin-left: 14px;
}

#CtrlPannel #navicon a.nav-icon {
    text-decoration: none;
    color: #A9A9A9;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

#CtrlPannel #navicon a.nav-icon:hover {
    color: #676767;
}

#CtrlPannel #chl-name-zone {
    width: 420px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 10px auto 0;
    font-size: 1.6em;
    font-weight: 200;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: #98CD60;
    background-color: #E4E4E4;
    border: 1px solid #A0D672;
    border-radius: 2em;
    box-shadow: 1px 1px 1px 1px #FFF inset, 1px 1px 1px 1px #E4E4E4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#CtrlPannel #chl-name-zone span.chl-name-show {
    display: inline-block;
}

#CtrlPannel #chl-name-zone span.chl-name-show:hover {
    animation-play-state: paused;
}

.slide-animate {
    animation: marquee 10s linear infinite;
    -webkit-animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        -webkit-transform: translate(220%, 0);
        -ms-transform: translate(220%, 0);
        -o-transform: translate(220%, 0);
        transform: translate(220%, 0);
    }
    50% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-220%, 0);
        -ms-transform: translate(-220%, 0);
        -o-transform: translate(-220%, 0);
        transform: translate(-220%, 0);
    }
}

/* Control Pannel Part */
#CtrlPannel #btn-zone {
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    background-color: #fff;
    text-align: center;
}

#CtrlPannel #btn-zone ul.btn-group {
    list-style: none;
}

#CtrlPannel #btn-zone ul.btn-group > li {
    position: relative;
    display: inline-block;
    width: 40px;
    padding-left: 20px;
    color: #95CF5A;
}

#CtrlPannel #btn-zone ul.btn-group > li span {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 10px;
    color: #95CF5A;
}

#CtrlPannel #btn-zone ul.btn-group > li span * {
    color: #95CF5A;
}

#CtrlPannel #btn-zone ul.btn-group > li span:hover {
    background-color: #E4E4E4;
}


/*
#btn-zone ul.btn-group li>div {
    position: absolute;
    width: 260px;
    top: 50px;
    left: -100px;
    background-color: #200;

}

#btn-zone ul.btn-group li div .loginPop div {
    background-color: #077;
    border-radius: 20px;
    text-align: left;
    margin: 10px 10px;
    padding-left: 10px;
}

#btn-zone ul.btn-group li div .loginPop div input.pullright {
    margin-left: 80px;
}
*/

#btn-zone div.popup {
    position: relative;
    margin: 10px auto 0;
    width: 540px;
    height: 50px;
    line-height: 50px;
    z-index: 9;
}

#btn-zone div.popup > div {
    font-size: 1.4em;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 1px;
    background-color: #F2F2F2;
    border: 2px solid #FFF;
    border-radius: 8px;
    opacity: .9;
}

#btn-zone div.popup div.volumePop {
    width: 380px;
}

#btn-zone div.popup div.searchPop {
    width: 380px;
}

#btn-zone div.popup div.sharePop {
    width: 500px;
    font-size: 1.2em;
}

#btn-zone div.popup div.sharePop ul.sharelist li {
    display: inline;
    padding: 1em;
}

#btn-zone div.popup div.sharePop ul.sharelist li a {
    text-decoration: none;
    color: #666;
}

#btn-zone div.popup div.loginPop input.pullright {
    margin-left: 80px;
}

.dropdown-toggle {
    display: none;
}

/* Lyrics Pannel Part*/

#LyricsPannel {
    position: absolute;
    top: 120px;
}

#lyrics-wrapper {
    margin: 0 auto;
    text-align: center;
    background-color: #FDFDFD;
    width: 540px;
    height: 540px;
    border-radius: 8px;
    box-shadow: 0 2px 1em #D2D2D2, 0 -1px 1em #D2D2D2;
    overflow: hidden;
}

#lyrics-wrapper #lyrics-live {
    font-size: 1.4em;
    font-weight: 200;
    text-align: center;
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: 2px;
    color: #888;
    margin: 0 auto;
    vertical-align: middle;
}

#lyrics-wrapper .lyric-img {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    vertical-align: middle;
}

#lyrics-move {
    position: absolute;
    top: 50%;
}

#middle {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 100%;
    color: #330;
}

/* SongName & Singer Pannel Part*/

#SongNamePannel {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    background-color: #FFF;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 1.6em;
    font-weight: 200;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0 0 10px 10px;
}

#SongNamePannel span.song-author-show {
    display: inline-block;
}

#SongNamePannel span.song-author-show:hover {
    animation-play-state: paused;
}

.slide-animate2 {
    animation: marquee2 10s linear infinite;
    -webkit-animation: marquee2 10s linear infinite;
}

@keyframes marquee2 {
    0% {
        -webkit-transform: translate(600px, 0);
        -ms-transform: translate(600px, 0);
        -o-transform: translate(600px, 0);
        transform: translate(600px, 0);
    }
    50% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(-600px, 0);
        -ms-transform: translate(-600px, 0);
        -o-transform: translate(-600px, 0);
        transform: translate(-600px, 0);
    }
}

#downloads {
    background-color: #ccc;
    display: none;
}

footer {
    background-color: #eee;
    display: none;
}


/* Common styles */

.roll {
    color: #100;
    overflow: hidden;
    vertical-align: top;
    perspective: 400px;
    perspective-origin: 50%, 50%;
}

.roll span {
    display: block;
    position: relative;
    -webkit-transitio: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    transform-origin: 50%, 0;
    transform-style: preserve-3d;
}


/* General elements type styles */

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.fa-2x {
    font-size: 2em;
}

.fa-3x {
    font-size: 3em;
}

.fa-4x {
    font-size: 4em;
}

.fa-5x {
    font-size: 5em;
}

.fa-music:before {
    content: "\f001";
}

.fa-github-square:before {
    content: "\f092"
}

.fa-github:before {
    content: "\f09b"
}

.fa-heart:before {
    content: "\f004"
}

.fa-heart-o:before {
    content: "\f08a"
}

.fa-star:before {
    content: "\f005"
}

.fa-star-o:before {
    content: "\f006"
}

.fa-search:before {
    content: "\f002"
}

.fa-user:before {
    content: "\f007"
}

.fa-step-forward:before {
    content: "\f051"
}

.fa-volume-off:before {
    content: "\f026"
}

.fa-volume-down:before {
    content: "\f027"
}

.fa-volume-up:before {
    content: "\f028"
}

.fa-trash:before {
    content: "\f1f8"
}

.fa-trash-o:before {
    content: "\f014"
}

.fa-thumbs-down:before {
    content: "\f165"
}

.fa-thumbs-o-down:before {
    content: "\f088"
}

.fa-share-alt:before {
    content: "\f1e0"
}

.fa-share-alt-square:before {
    content: "\f1e1"
}

.fa-toggle-off:before {
    content: "\f204"
}

.fa-toggle-on:before {
    content: "\f205"
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: "\f0c9"
}

.fa-check:before {
    content: "\f00c"
}

.fa-check-circle:before {
    content: "\f058"
}

.fa-check-circle-o:before {
    content: "\f05d"
}

.fa-check-square:before {
    content: "\f14a"
}

.fa-check-square-o:before {
    content: "\f046"
}

.fa-refresh:before {
    content: "\f021"
}

.fa-random:before {
    content: "\f074"
}

/* Misc */
.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

/* #Media queries
=============================================*/

@media only screen and (min-height: 1270px) {
    body {
        zoom: 1;
    }
}

@media only screen and (min-height: 1070px) and (max-height: 1269px) {
    body {
        zoom: 90%;
    }
}

@media only screen and (min-height: 960px) and (max-height: 1069px) {
    body {
        zoom: 75%;
    }
}

@media only screen and (min-height: 750px) and (max-height: 959px) {
    body {
        zoom: 67%;
    }
}

@media only screen and (min-height: 530px) and (max-height: 749px) {
    body {
        zoom: 50%;
    }
}

@media only screen and (max-height: 529px) {
    body {
        zoom: 33%;
    }
}
